@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
  }
  html{
    scroll-behavior: smooth;
    scroll-margin-top: 100px;
  }
  body {
    margin: 0 auto;
    width: 100%;
  }
  

  @font-face {
    font-family: 'NerkoOne';
    src: url("/fonts/NerkoOne-Regular.ttf");
  }
  @font-face {
    font-family: 'Coolvetica';
    src: url("/fonts/coolvetica-rg.otf");
  }